<div class="container">
    <div class="text">
        <h2>Te lo llevamos a tu domicilio con total seguridad</h2>
        <p> Tenemos acuerdos con las mejores empresas de transporte internacional (DHL, UPS y FedEx) para que recibas la obra donde nos indiques en perfectas condiciones y en el menor tiempo posible.</p>
        <p> Seguro de transporte gratis </p>
            <p>Todas las obras se aseguran a todo riesgo con la compañía de seguros Allianz. Si hay alguna incidencia durante el transporte, no tendrás que preocuparte por nada.</p> 
    </div>
    
</div>
