<div class="header">
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg">
    <h1>Proyecto ir</h1>
</div>
<!--navbar-->
<div >
  <nav>
    <ul class="navbar">
      <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
      <li><a routerLink="/list" routerLinkActive="active" ariaCurrentWhenActive="page">Listado</a></li>
      <li><a routerLink="/new-product" routerLinkActive="active" ariaCurrentWhenActive="page">Nuevo producto</a></li>
      <li><a routerLink="/product-my-list" routerLinkActive="active" ariaCurrentWhenActive="page">Mis creaciones</a></li>
      <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">Nosotros</a></li>
      
    </ul>
  </nav>

</div>

