.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding-top: 30px;
    padding-bottom: 55px;
}
h3{   
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.598);    
}

p{
    font-size: 20px;
    text-align: left; 
}

img{
    width: 450px;
    height: 450px;
}
.price{
    font-size: 30px;
    text-align: left; 
}
.author{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding-top: 30px;
    padding-bottom: 55px;
}