

    <div class="container">
        <div class="text">
            <h2>Artelista fue fundada en 2004.</h2>
            <p>  Artelista es el punto de encuentro de artistas, que quieren exponer y vender su arte de forma segura, con coleccionistas, inversores o simplemente personas que buscan llenar una pared con una pieza única y especial. Artelista es especialista en trasladar obras de arte por los cinco continentes, sin importar origen o destino, del taller del artista a tu casa. Somos líder en audiencia con más de 1 millón de personas que nos visitan cada mes y descubren más de 900.000 obras de todo el mundo.</p>
            <h3>Visión:</h3>
            <p>    Nuestra visión es hacer accesible el arte a través de las nuevas tecnologías. En Artelista promocionamos internacionalmente el arte acercándolo a todas las personas y transformando la forma de comprar - vender arte y la forma de disfrutar el arte. </p>
                <h3>Misión:</h3>
                <p> Nuestra misión es ser la plataforma online de referencia en el mundo dirigida a particulares amantes del arte, ofreciéndoles con total comodidad y garantía una experiencia única comprando y disfrutando del arte..</p> 
        </div>
        
    </div>
    
