
<div class="container">
    <div class="text">
        <h2>El mayor catálogo internacional de obras de arte</h2>
        <p> Más de 930.000 obras a tu disposición</p>
        <p> Obras originales, reproducciones y mucho más.</p>
        <p> Artistas, Grandes Maestros, Galerías y Museos</p>
    </div>
   <!-- <img src="https://cdn-icons-png.flaticon.com/512/2714/2714637.png">  -->
</div>

<app-home-bloque1></app-home-bloque1>
<app-home-bloque2></app-home-bloque2>
<app-home-bloque3></app-home-bloque3>
